.cublet {
  width: 75px;
  height: 75px;
  border: 3px solid black;
}

.face {
  width: 245px;
  height: 245px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 2px solid black;
  border-radius:7px;
  margin: 2px;
}

.emptyface {
  background-color: white;
  border: 2px solid transparent;
}

.cubenet {
  width: 765px;
  height: 765px;
  display: flex;
  flex-wrap: wrap;
}

.cw {
  display: inline-block;
  margin: 5px;
  float: right;
  font-size: 20px;
  color: black;
}

.cw:hover {
  color: white;
}

.ccw {
  display: inline-block;
  margin: 5px;
  font-size: 20px;
  color: black;
}

.ccw:hover {
  color: white;
}


.topleft {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 15px;
}

.topCenter {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.topRight {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 7px;
}

.midleft {
  border-top-left-radius: 7px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 15px;
}

.midCenter {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.midRight {
  border-top-left-radius: 15px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 7px;
}

.bottomleft {
  border-top-left-radius: 7px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bottomCenter {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bottomRight {
  border-top-left-radius: 15px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
